@charset 'utf-8';


/****************************共通****************************/

body {
	color: #272343;
	background-color: #fffffe;
}

a {
    text-decoration: none;
}


.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .item {
    border-radius: 10px;
    background: #bae8e8;
    padding: 15px;
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p {
    text-align: left;
  }






body {
    color: #272343;
    font-size: 30px;
    text-align: center;
}

a {
    color: #272343;
}

a {
    transition: 0.3s;
}

a:hover {
    color: #e3f6f5;
}


a:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
}

img {
    transition: 0.5s;
}


p {
    text-align: center;
}


body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
  }

/***************************ヘッダー*****************************/



p {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 100px;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
}






/****************************FOOTER****************************/


footer {
    background-color: #bae8e8;
    text-align: center;
    margin-top: 80px;
    font-size: 1.5rem;
    line-height: 2.8rem;
    letter-spacing: 0.3rem;
}





/****************************レスポンシブ****************************/













@media screen and (max-width:480px){


    body {
        text-align: center;
    }

    p {
        font-size: 15px;
            margin-bottom: 30px;

    }


    h1  {
        font-size: 22px;
    }


footer {
    font-size: 15px;
    letter-spacing: normal;
}









    

}
/****************************レスポンシブ終わりのかっこ****************************/





























